:root {
    --green: #23B677;
    --dark-grey: #303030;
    --yellow: #F7D025;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--dark-grey);
}

.map-title-container {
    background-color: var(--green);
    color: white;
    border-radius: 10px;
    position: fixed;
    top: -20px;
    z-index: 100;
    width: 100%;
}

.map-title-container h1 {
    padding: 2em 1em 1em 1em;
}

 .map-categories {
    position: fixed;
    bottom: 100px;
    width: 100%;
}

.map-categories img {
    width: 100px;
    height: 100px;
    opacity: 1;
}

.map-categories div *{
    margin: 0 20px;
}

#mapbox {
    width: 100%;
    height: 100vh;
}

.go-to-google-maps {
    position: relative;
}

.google-maps-logo {
    height: 20px;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.open-google-maps {
    margin-left: 20px;
}

.pant-options {
    background: var(--green);
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;
    display: none;
    flex-direction: row;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    justify-content: space-around;
}

.help {
    display: flex;
    align-self: center;
}

.visible {
    display: flex;
}

.checkbox-container * {
    display: inline;

}

.checkbox-container {
    padding: 10px 0;
}

.help-container {
    position: absolute;
    z-index: 200;
    top: 195px;
    left: 50%;
    display: none;
    background-color: white;
    padding: 20px;
    width: 90%;
    transform: translateX(-50%);
    border-radius: 10px;
}



.help-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.close {
    height: 10px;
    position: absolute;
    right: -6px;
    top: -7px;
}

.visible2 {
    display: block;
}


.checkbox-container label {
    color: white;
    font-family: font-family: 'Poppins', sans-serif;
    padding-left: 7px;
}

.checkbox-container input * {
    border: none;
    border-color: white;
} 


